.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;}

.background { 
    background-color: rgb(197, 180, 157);
}
.sub {
    color: rgb(70, 66, 66);
}
.myhead{
    width: 300px;
    border: 15px solid rgb(128, 133, 128);
    padding: 50px;
    margin: 20px;
    text-align: center;
}

.common
 {text-align: center;}  

.navigation
 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.myfoot {
    margin:auto,
}
.myfoot {position: static;}

.mybody {margin:30px
}
